@charset "UTF=8";

@font-face {
    font-family: 'HancomMalangMalang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}

body {
    color: #333;
    line-height: 1;
}

.header {
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    font-family: 'LOTTERIACHAB';
    font-size: 20px;
}

.logo a img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

.header .left a {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header .left a img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.header .right a {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.category {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: 'LOTTERIACHAB';
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.category a:nth-child(5) {
    color: #f5bfec;
}

.item {
    line-height: 1.3;
    font-family: 'Pretendard-Regular';
    
}

.item .item01 {
    display: flex;
    justify-content: center;
  
}

.item  img {
    width: 490px;
    height: 650px;
    object-fit: cover;
    border-bottom: 2px solid #333;
}

.item .item01 .box01 {
    border: 1px solid #333;
}

.item .item01 .box02 {
    border: 1px solid #333;
}

.item .item01 .box03 {
    border:1px solid #333;
}

.item .item01 .box01 .text01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.item .item01 .box01 .text01 p {
    font-size: 24px;
}

.item .item01 .box01 .text01 strong {
    font-size: 30px;
}

.item .item01 .box02 .text02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item .item01 .box02 .text02 p {
    font-size: 24px;
}

.item .item01 .box02 .text02 strong {
    font-size: 30px;
}

.item .item01 .box03 .text03 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item .item01 .box03 .text03 p {
    font-size: 24px;
}

.item .item01 .box03 .text03 strong {
    font-size: 30px;
}



.item .item02 {
    display: flex;
    justify-content: center;
}
.item .item02 .box01 {
    border: 1px solid #333;
}

.item .item02 .box02 {
    border:1px solid #333;
}

.item .item02 .box03 {
    border: 1px solid #333;
}

.item .item02 .box01 .text01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.item .item02 .box01 .text01 p {
    font-size: 24px;
}

.item .item02 .box01 .text01 strong {
    font-size: 30px;
}

.item .item02 .box02 .text02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
}

.item .item02 .box02 .text02 p {
    font-size: 24px;
}

.item .item02 .box02 .text02 strong {
    font-size: 30px;
}

.item .item02 .box03 .text03 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item .item02 .box03 .text03 p {
    font-size: 24px;
}

.item .item02 .box03 .text03 strong {
    font-size: 30px;
}




.item .item03 {
    display: flex;
    justify-content: center;
}
.item .item03 .box01 {
    border:1px solid #333;
}

.item .item03 .box02 {
    border: 1px solid #333;
}

.item .item03 .box03 {
    border: 1px solid #333;
}

.item .item03 .box01 .text01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.item .item03 .box01 .text01 p {
    font-size: 24px;
}

.item .item03 .box01 .text01 strong {
    font-size: 30px;
}

.item .item03 .box02 .text02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item .item03 .box02 .text02 p {
    font-size: 24px;
}

.item .item03 .box02 .text02 strong {
    font-size: 30px;
}

.item .item03 .box03 .text03 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item .item03 .box03 .text03 p {
    font-size: 24px;
}

.item .item03 .box03 .text03 strong {
    font-size: 30px;
}

.item .item04 {
    display: flex;
    justify-content: center;
}
.item .item04 .box01 {
    border: 1px solid #333;
}

.item .item04 .box02 {
    border: 1px solid #333;
}

.item .item04 .box03 {
    border: 1px solid #333;
}

.item .item04 .box01 .text01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.item .item04 .box01 .text01 p {
    font-size: 24px;
}

.item .item04 .box01 .text01 strong {
    font-size: 30px;
}

.item .item04 .box02 .text02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item .item04 .box02 .text02 p {
    font-size: 24px;
}

.item .item04 .box02 .text02 strong {
    font-size: 30px;
}

.item .item04 .box03 .text03 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.item .item04 .box03 .text03 p {
    font-size: 24px;
}

.item .item04 .box03 .text03 strong {
    font-size: 30px;
}

.next_page {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
    gap: 30px;
}
.next_page a:nth-child(2) {
    color: #a1a1a1;
}

.footer {
    width: 1920px;
    font-family: 'Pretendard-Regular';
   padding-left: 30px;
    border-top: 2px solid #333;
    margin-top: 100px;
}
.footer .footer_logo a img {
    width:309px ;
    height: 35px;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer .info {
    display: flex;
    justify-content: space-between;
    line-height: 1.4;
    margin-right: 100px;
}